@{
    ViewBag.Title = "Contribute";
}

<div class="page-header">
    <h2>How to contribute</h2>
</div>

<p>
    You may @Html.ActionLink("Contact", "Contact") the project administrators and suggest new features. 
    If your suggestion is approved you should go the <a href="https://github.com/giggio/Recast/issues">Github issues page</a>
    and fill it in there.
</p>
