@{
    ViewBag.Title = "Support";
}

<div class="page-header">
    <h2>Support</h2>
</div>
<p>
    Support is provided online via Github. Go the <a href="https://github.com/giggio/Recast/issues">Github issues page</a>
    and first check if your problem has not yet been reported. If not you should create a new issue.
</p>
