<div class="hero-unit">
    <h2>This page is under construction</h2>
    <p>
        Come back later. We might have filled it with something usefull. :)
    </p>
    <p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-large">Go home &raquo;</a>
    </p>
</div>