@{
    ViewBag.Title = "Contact";
}
<div class="page-header">
    <h2>Contact</h2>
</div>

<div>
    <p>
        You may contact the project owner, Giovanni Bassi, through the e-mail giggio at giggio dot net 
        or through twitter at <a href="http://www.twitter.com/giovannibassi">@@giovannibassi</a>. 
    </p>
    <p>
        Please prepend the e-mail subject with "Recast" to make it easier to address.
    </p>
</div>
