@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <p style="float: left; margin: 20px">
        <a href="@Url.Action("Index", "Home")">
            <img src="@Url.Content("~/Images/recast_logo.png")" style="border: 0" />
        </a>
    </p>
    <h1>Recast</h1>
    <p>BETA</p>
    <p>
        A simple way to create a podcast from any mp3 file that is on the web or to republish an old podcast episode that is now no longer available.
    </p>
    <p>
        <a class="btn btn-primary btn-large">Learn more &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="span4">
        <h2>Recast old webcasts</h2>
        <p>With Recast you simply point to old episode mp3 files and they become imediately available as new webcast.</p>
    </div>
    <div class="span4">
        <h2>Easily create a webcast</h2>
        <p>You can also use Recast to manually create a webcast. Simply create the webcast adding the necessary data. No instalation, no configuration.</p>
    </div>
    <div class="span4">
        <h2>Easy to use</h2>
        <p>Create a new podcast with Recast is very easy. No signup necessary, simple create the podcast, add the episodes, and subscribe.</p>
        <p><a class="btn" href="@Url.Action("HowToStart")">Learn more &raquo;</a></p>
    </div>
</div>
