@model Recast.WebApp.Models.ViewModel.PostViewModel

@{
    ViewBag.Title = "Edit Podcast Post";
}

<h2>Editing post to feed @Model.FeedName</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Post</legend>

        @{Html.RenderPartial("_EditPost");}

        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
}