@{
    ViewBag.Title = "Go to feed";
}

<h2>Search for a feed</h2>
<form id="gotoForm">
    <div class="editor-field">
        <span>Your Name:</span><br/>
        <input class="text-box single-line" data-val="true" data-val-required="The user name is required." id="UserName" name="UserName" type="text" value="" />
        <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>    </div>
    <div class="editor-field">
        <span>Your feed name:</span><br/>
        <input class="text-box single-line" data-val="true" data-val-required="The feed name is required." id="FeedName" name="FeedName" type="text" value="" />
        <span class="field-validation-valid" data-valmsg-for="FeedName" data-valmsg-replace="true"></span>
    </div>
    <input id="go" type="button" value="Go"/>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/GoToFeed.js")
}