@{
    ViewBag.Title = "New feed";
}

<h2>Create a new feed</h2>
@using (Html.BeginForm())
{
    <p>
        <span>Your Name:</span><br/>
        @Html.TextBox("UserName")
    </p>
    <p>
        <span>Your feed name:</span><br/>
        @Html.TextBox("Name")
    </p>
    <input type="submit" value="Criar"/>
}