@{
    ViewBag.Title = "New feed";
}

<h2>Create a new feed</h2>
@using (Html.BeginForm())
{
    <div>
        <span>Your Name:</span><br/>
        @Html.TextBox("UserName")
    </div>
    <div>
        <span>Your feed name:</span><br/>
        @Html.TextBox("FeedName")
    </div>
    <input type="submit" value="Criar" class="btn btn-primary"/>
}